main {
    color: white;
        margin-top: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
     display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

@media (max-width: 900px)  {

}